
@import '~@amber-ds/visual/src/amber.scss';

.container {
  margin: 40px auto;
  width: 90%;
  padding: 5px 40px 70px;
  background-color: white;
  box-sizing: border-box;
  overflow: hidden;

  .cover {
    width: 100%;
  }
}